<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="home :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="home :: navbar"></nav>

<div class="container mt-5">
    <main class="flex-fill">
        <form th:action="@{/libro/guardar}" th:object="${pelicula}" th:method="post">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label">Titulo</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="titulo" id="titulo" th:field="*{nombre}">
                </div>
                <div class="col-auto">
                    <label class="col-form-label">Director</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="director" id="director" th:field="*{director}">
                </div>
                <div class="col-auto">
                    <label class="col-form-label">Año de salida</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="annioSalida" id="annioSalida" th:field="*{annioSalida}">
                </div>
                <div class="col-auto">
                    <label class="col-form-label">Genero</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="genero" id="genero" th:field="*{genero}">
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label class="col-form-label">Imagen URL</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="imagen" id="imagen" th:field="*{imagen}">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Descripcion</label>
                <input type="text" class="form-control" name="descripcion" id="descripcion" th:field="*{descripcion}">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Guardar</button>
            </div>
        </form>

        <hr>
        <div class="alert alert-success" role="alert"  th:if="${param.exito}">
            Pelicula guardada con exito
        </div>
    </main>
</div>


<div th:replace="home :: jsincludes"></div>
</body>
</html>